<style>
@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans+SC');
</style>

body {
	background-image: url("images/backgroundblue.jpg");
	background-size: cover;
}

h1{
	color: #231994;
	font-weight: black;
	text-align: center;
	font-size: 40px;
	font-family: 'Alegreya Sans SC', sans-serif;
}

#slogan{
	color: #231994;
	font-weight: bold-italic;
	font-size: 24px;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
}

p, ul{
	color: #000000;
	text-align: left;
	font-weight: normal;
	font-family: 'Alegreya', serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 1.5em;
}