@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans+SC');
*{ margin:0; padding:0; box-sizing:border-box; }

body {
	background-size: cover;
	font-size: 18px;
	font-family: 'Alegreya', serif;
	color: #333;
	text-align: left;
	font-weight: normal;
	line-height: 1.5em;
}

header{
	border: 1px black solid;
	padding: 1.5em 0 0;
}

nav{
	text-align: center;
	background: #DFFFFB;
}

nav a{
	text-decoration: none;
	color: #231994;
	margin: 1em;
	display: inline-block;
}

nav a:hover{
	background-color: #90AEE8;
}


h1{
	font-size: 2em;
}

h2{
	font-size: 1.5em;
}

h1, h2{
	font-weight: bold;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: uppercase;
}

#slogan{
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	padding-bottom: 1em;
}

.video{
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}

iframe{
  	display: block;
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	padding-bottom: 1.5em;
}

.transformation{
	width: 25%;
	float: left;
	display: block;
  	margin: 0 auto;
  	padding: 0 0 1.5em 0;
}

.overview{
	line-height: 1.5em;
	margin: 0 auto;
	padding: 1.5em 0;
	background-color:;
	width: 40em;
	text-align: left;
}

ul{
  	list-style: none;
}

.team, .program{
	display: block;
	margin: 0 auto;
	padding: 5em 0;
}

footer{
	color: #ffffff;
	font-weight: normal;
	font-family: 'Alegreya', serif;
	line-height: 1em;
	text-align: center;
	padding: 1.5em 0;
	margin: 0 auto;
	background-color: #FF957E;
}

.six_column {
    max-width: 80em;
    margin: auto;
}

.clearfix:after {
	clear:both;
	content:"";
	display:block;
}
li img {
    width: 50%;
    float: left;
    margin-right: 1em;
}

li {
    width: 33.33%;
    float: left;
    padding: 1em;
    border: 1px solid white;
}

li p {
    border: 1px solid orange;
}

#overview {
    background: #231994;
    color: #fff;
    padding: 10em 0;
    text-align: center;
}

.purchase {
    background: orange;
    padding: 1em 2em;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
