body {
	background-image: url("images/backgroundblue.jpeg");
	background-size: cover;
}

h1{
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	font-size: 40px;
	font-family: Cambria;
}

#slogan{
	color: #FF0000;
	font-weight: italic;
	font-size: 24px;
	text-align: center;
	font-family: "Cooper Black";
}

p {
	color: #FFFFFF;
	text-align: right;
	font-family: Cambria;
}