body {
	background-image: url("images/backgroundblue.jpg");
	background-size: cover;
}

h1{
	color: #231994;
	font-weight: bold;
	text-align: center;
	font-size: 40px;
	font-family: Cambria;
}

img{
	font-align: center;
}

#slogan{
	color: #231994;
	font-weight: italic;
	font-size: 24px;
	text-align: center;
	font-family: "Cooper Black";
}

p, ul{
	color: #FFFFFF;
	text-align: left;
	font-family: Cambria;
}